.container-all{
  background-color: #1D2951;
  width:380px;
  margin:40px auto;
  /*padding:18px;*/
  padding-top: 10px;
  padding-bottom: 14px;
  padding-left: 13px;
  padding-right: 8px;
  border-radius:25px;
  display:flex;
  flex-direction:column;
  gap:3px;
}
.text-one{
  color: white;
}
#seven-eight-nine{
  /*
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap:10px;
  margin-top:5px;
  */
  display:grid;
  grid-template-columns:repeat(6, minmax(60px, max-content));
  justify-content: center;
  column-gap: 4px;
  margin-top:5px;
}
#nums-four-six{
  /*
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap:10px;
  margin-top:5px;
  */
  display:grid;
  grid-template-columns:repeat(6, minmax(60px, max-content));
  justify-content: center;
  column-gap: 4px;
  margin-top:5px;
}

.roots-any-num{
  /*
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  */
  display:grid;
  grid-template-columns:repeat(6, minmax(60px, max-content));
  justify-content: center;
  column-gap: 4px;
  margin-top:5px;
}

.nums-one-to-three{
  /*
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap:10px;
  margin-top:5px;
  */
  display:grid;
  grid-template-columns:repeat(6, minmax(60px, max-content));
  justify-content: center;
  column-gap: 4px;
  margin-top:5px;
}

.nums-zero-to-dot-exp{
  /*
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap:10px;
  margin-top:5px;
  */
  display:grid;
  grid-template-columns:repeat(6, minmax(60px, max-content));
  justify-content: center;
  column-gap: 4px;
  margin-top:5px;
}

.arithmetic{
  /*
  display:grid;
  grid-template-columns:repeat(6, 1fr);
  gap:10px;
  margin-top:5px;
  */
  display:grid;
  grid-template-columns:repeat(6, minmax(60px, max-content));
  justify-content: center;
  column-gap: 4px;
  margin-top:5px;
}

.trigonometry{
  display:grid;
  grid-template-columns:repeat(6, minmax(60px, max-content));
  justify-content: center;
  column-gap: 4px;
  margin-top:5px;
  
  /*
  width: 450px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 10px;
  */
}

.head-input{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.grid-one{
  display:grid;
  grid-template-columns: 110px 110px 110px 110px;
  justify-content:center;
  align-items: center;
}

.heading{
  text-align:center;
  color:white;
  margin-bottom:5px;
  font-size: 20px;
}

.label12{
  margin-bottom: 15px;
  margin-right: 20px;
}

.result-display{
  width:100%;
  padding:12px;
  border-radius:15px;
  border:none;
  font-size:16px;
}

.num1{
  width:200px;
  padding:12px;
  border-radius:15px;
  border:none;
  font-size:16px;
  border: none;
  margin-left: 20px;
}

.num1::placeholder{
  text-align: center;
  color: black;
  font-size: 15px;
  font-weight: bold;
}

input[type="text"]{
  text-align: center;
}

.add{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.buttonSub{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 15px;
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.divide{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 15px;
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.pi{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 2px;
}

.multiply{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.mult{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.myLabels,
.result{
  display:flex;
  justify-content:center;
}

.sum{
  margin-left: 30px;
  color: white;
}

#mult-division{
  position: absolute;
  margin-left: 40px;
  display: flex;
  left: 160px;
}

#plus-minus{
  position: absolute;
  display: flex;
  margin-left: 8px;
  left: 193px;
}

.acose{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.asine{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.atane{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.sin{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.cos{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.tan{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.reset{
  bottom: 0;
  top: 340px;
  left: 210px;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  margin-right: 15px;
}

#pi-clear{
  display:flex;
  justify-content:center;
}

.reset-button{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.seven{
  margin-right: 5px;
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.eight{
  margin-right: 3px;
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.nine{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.four{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.five{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.six{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}
.sgn,
.abs,
.factorial{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

button{
  width:55px;
  height:45px;
  border:none;
  border-radius:8px;
  color:white;
  cursor:pointer;
  font-size:10px;
  transition:.3s;
}

button:hover{
  background:#3554a5;
}

button:active{
  transform:scale(.96);
}

.e-to-ten{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 13px;
  padding-right: 13px;
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.num-one{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.num-two{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 2px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.num-three{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 2px;
}

.log2{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.logarithm{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 2px;
}

.exp{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.num-zero{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 20px;
  padding-right: 20px;
}

.dot-button{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 22px;
  padding-right: 22px;
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4px;
  font-weight: bold;
}

.log-basex-raise-to-y{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.e-raise-to-x{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  margin-left: 2px;
}

.square-root{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}

.raise-to-power-any-num{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}

.natural-log{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 4px;
}

.x-raise-to-power-3{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}

.x-raise-to-power-2{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}

.comma-button{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}

.x-raise-to-power-minus-one{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

.three-sqrt-to-power-x{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}

.x-sqrt-y{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
}

.modulus{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  border-radius: 4px;
}

/*
.equal-to{
  border: 1px solid gray;
  background-color: #1D2951;
  color: lightgray;
  cursor: pointer;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 29px;
  padding-right: 29px;
  border-radius: 4px;
  margin-top: 13px;
}
*/

.input-button{
  display: flex
}

@media(max-width:600px){

.container-all{
  width:95%;
  padding:15px;
}

button{
 width:100%;
}
}